<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
layout:decorate="~{layout}">> 
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <link
    rel="stylesheet"
    href="style.css"
  />
  <script src="code.js"></script>
    <title>Wellmeadows Hospital Management System - Prescription Management System</title>
</head>
<body>

    <!-- Navbar -->
    <a th:href="@{/}" role="button" class="btn btn-secondary mx-auto"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-short" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5"/>
    </svg></a>

   
    <!-- Book An Appointment form -->
<!--<title>Login & Registration Form</title>-->
<h1>Add Prescription</h1>
<div class="container" id="Book">
    <form class="row g-5" th:action="@{'/addPrescription/'+ ${patientId}}" th:object="${prescriptionData}" method="POST">
        <div class="form-group">
            <label for="presName" class="form-label">Prescription Name:</label>
            <input type="text"  th:field="*{presName}" class="form-control" id="presName" required>
        </div>
        <div class="form-group">
            <label for="unitsPerDay" class="form-label">Units by day:</label>
            <input type="number"  th:field="*{unitsPerDay}" class="form-control" id="unitsPerDay"
                   th:min="1" required>
        </div>
        <div class="form-group">
            <label for="numAdmPerDay" class="form-label">Number of administration per day::</label>
            <input type="number" th:field="*{numAdmPerDay}" class="form-control" id="numAdmPerDay" required>
        </div>
        <div class="form-group">
            <label for="adminTimeAndNumUnitsRecord" class="form-label">Listing of each administration
                time of day with number
                of units administered:</label>
            <input type="text"  th:field="*{adminTimeAndNumUnitsRecord}" class="form-control"
                   id="adminTimeAndNumUnitsRecord" required>
        </div>
        <div class="form-group">
            <label for="admMethod" class="form-label">Method of administration:</label>
            <input type="text" th:field="*{admMethod}" class="form-control" id="admMethod" required>
        </div>
        <div class="form-group">
            <label for="startDate" class="form-label">Start Date:</label>
            <input type="text" th:field="*{startDate}" class="form-control" id="startDate" required>
        </div>

        <div class="form-group">
            <label for="endDate" class="form-label">End Date:</label>
            <input type="text" th:field="*{endDate}" class="form-control" id="endDate" required>
        </div>

        <button type="submit" id="submit" class="btn btn-primary">submit</button>
    </form>



</div>


    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
</body>
</html>